.item {
      flex: 0 0 auto;/*防止因为浏览器宽度变化导致变形*/
      width: 150px;
      border: 1px solid #f00;

	  margin: 20px;
      
    }
.item1 {
      height: 120px;
    }
.item2 {
      height: 100px;
    }
.item3 {
      height: 40px;
    }
.item4 {
      height: 200px;
      border-color: #0f0;
    }
@media screen and (min-width: 641px) {
   .container {
      display: flex;
	  flex-flow: row;/*在“ltr”排版方式下从左向右排列；在“rtl”排版方式下从右向左排列*/
      align-items: center;/*伸缩项目的外边距盒在该行的侧轴上居中放置*/
      justify-content: flex-start ;/*伸缩项目向一行的起始位置靠齐*/
    }
}
@media screen and (max-width: 640px) {
    .container {
        display: flex;
        align-items: flex-start;/*伸缩项目在侧轴起点边的外边距紧靠住该行在侧轴起始的边*/
        flex-wrap: wrap;/*伸缩容器多行显示*/
    }
     .item4 {
        order: -1;
    }
}
  